<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Josefin+Sans&family=Kalam:wght@700&family=Poppins&family=Ubuntu&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    
    <div class="banner">
        <div class="navbar">
            <img src="/static/image/image2.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'signout' %}">Sign Out</a></li>
            </ul>
        </div>
            <div class="content">
                <h1>WELCOME OUR HOME PAGE</h1>
                <p>"Be there for others, but never leave yourself behind."</p>
            </div>

    </div>


</body>
</html>